{% extends 'base.htm.j2' %}
{% block content %}

    <div class=content">
        <div class="box">
            <h1>LTI Test Game</h1>
            <h3>Testing LTI Launch</h3>
            <ol>
                <li>Visit the <a href="http://ltiapps.net/test/tc.php">IMS LTI Tool Consumer Emulator</a></li>
                <li>Set <b>Launch URL</b> to <span>"{{ url_for('launch', _external=True) }}"</span></li>
                <li>Set <b>Consumer key</b> to the value defined in <span>"settings.py"</span></li>
                <li>Set <b>Shared secret</b> to the value defined in <span>"settings.py"</span></li>
            </ol>
        </div>
    </div>



{% endblock content %}
