{% extends 'base.htm.j2' %}
{% block content %}

<div class="content">

        <div class="box info">
            <h1>Teacher View</h1>
            <p>{{msg}}</p>

            <ul>
                <li>lis_person_name_full is <b>{{ lis_person_name_full }}</b></li>
                <li>{{ roles }}</li>
                <li>View/Route: views.py '/launch'</li>
                <li>Template: templates/launch.htm.j2</li>
            </ul>


            <p>Note: You can see all the LTI params in your server console.</p>

        </div>


        <div class="box rawdata">
            <h3>Analytics Raw Data</h3>
            <textarea rows="10" cols="256">{{ results }}</textarea>
        </div>

        <div class="box viz">
            <h1>{{ class_name }}: Results</h1>
            <h3>Student actions (xAPI verbs)</h3>
            <div id="donut-chart"></div>
        </div>

    <script>
        window.data = {{ results_json }};
        $.ready(graph());
    </script>
</div>

{% endblock content %}