{% extends 'base.htm.j2' %}
{% block content %}

<div class="content">

        <div class="box info">
            <h3>Analytics Raw Data</h3>
            <p><textarea rows="12" cols="60">{{ results }}</textarea></p>
        </div>

        <div class="box viz">
            <h1>LTI Test Game: {{ class_name }}</h1>
            <p>Welcome {{ lis_person_name_full }}. Your student's progress on the game is shown in the charts below</p>
            <h3>Total students accessing the game: {{ total_students }}</h3>
            <div class="charts">
                <h3>Student actions (xAPI verbs)</h3>
                <div id="donut-chart"></div>

                <h3>Items completed</h3>
                <div id="completed-chart"></div>
            </div>
        </div>

    <script>
        window.data = {{ results_json }};
        $.ready(show_visualisations());
    </script>
</div>

{% endblock content %}