{% extends 'base.htm.j2' %}
{% block content %}


    <div class="content">

        <div class="box info">
            <h1>LTI Test Game</h1>
            <p>Player: {{ lis_person_name_full }}</p>
            <p>Score: <span id="score">0</span></p>

            <button id="start">Start Game</button>

            <button id="watch" style="display:none">Watch the introduction video</button>

            <button id="skip" style="display:none">Skip video</button>

            <button id="complete1" style="display:none">Complete challenge one</button>

            <button id="complete2" style="display:none">Complete challenge two</button>

            <p>Click Finish to end the game and submit your score.</p>
            <button id="send">Finish</button>

            <!--<p><input type="button" id="send" value="Finish"></p>-->

        </div>

        <div class="box start">
            <h2>Tracker Start</h2>
            <table class="fields">
                <tr>
                    <td>Host</td>
                    <td><input id="host" type="text" name="host" value="{{ rage_host }}"></td>
                </tr>
                <tr>
                    <td>Tracking Code</td>
                    <td><input id="trackingCode" type="text" name="trackingCode" value="{{ rage_tracker_id }}"></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><input id="username" type="text" name="username" value=""></td>
                </tr>
                <tr>
                    <td>Pass</td>
                    <td><input id="password" type="password" name="password" value=""></td>
                </tr>
                <tr>
                    <td>UserToken</td>
                    <td><input id="userToken" type="text" name="userToken" value="{{ rage_token }}"></td>
                </tr>
            </table>
            <p><input type="button" id="login" value="Login"><br>
                <input type="button" id="start" value="Start"></p>
        </div>
        <div class="box data">
            <p>authToken = <span id="authToken"></span></p>
            <p>playerId = <span id="playerId"></span></p>
            <p>session = <span id="session"></span></p>
            <p>actor = <span id="actor"></span></p>
        </div>
        <div class="box sender">
            <table class="fields">
                <tr>
                    <td>Verb</td>
                    <td><input id="verb" type="text" name="verb"></td>
                </tr>
                <tr>
                    <td>Object Type</td>
                    <td><input id="target_type" type="text" name="target_type"></td>
                </tr>
                <tr>
                    <td>Object ID</td>
                    <td><input id="target_id" type="text" name="target_id"></td>
                </tr>
            </table>
            <h3>Result</h3>
            <table class="extensions">
                <tr>
                    <th>Name</th><th>Value</th><th>Send?</th><th>Name</th><th>Value</th><th>Send?</th>
                </tr>
                <tr>
                    <td>Score</td>
                    <td><input id="score" type="number" name="score" min="0" max="1" step="0.1" value="0.5"></td>
                    <td><input id="send_score" type="checkbox" name="send_score"></td>

                    <td>Success</td>
                    <td><input id="success" type="checkbox" name="success"></td>
                    <td><input id="send_success" type="checkbox" name="send_success"></td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td>Response</td>
                    <td><input id="response" type="text" name="response"></td>
                    <td><input id="send_response" type="checkbox" name="send_response"></td>

                    <td>Completion</td>
                    <td><input id="completion" type="checkbox" name="completion"></td>
                    <td><input id="send_completion" type="checkbox" name="send_completion"></td>
                </tr>
                <tr>
                    <td>Extension Str</td>
                    <td colspan="2"><input id="key" type="text" name="key"></td>

                    <td>Value</td>
                    <td><input id="value" type="text" name="value"></td>
                    <td><input id="button" type="button" value="Add extension" onclick="addExtensionButton()"></td>
                </tr>
                <tr>
                    <td>Extension Int</td>
                    <td colspan="2"><input id="keyInt" type="text" name="key"></td>

                    <td>Value2</td>
                    <td><input id="valueInt" type="text" name="value"></td>
                    <td><input id="button" type="button" value="Add extension" onclick="addExtensionButtonInt()"></td>
                </tr>
            </table>
            <input id="trace" type="button" value="Add Trace" onclick="trackButton()">
        </div>

        <!--<div class="box trace">
            <p>CSV = <span id="csv"></span></p>
            <p>xAPI = <span id="xapi"></span></p>
        </div>-->

        <div class="send">
            <input id="flush" type="button" value="Flush" onclick="flushButton()">
        </div>
    </div>

    <script>
        //
        // Register listener events
        //

        // TODO add some activity images
        // TODO add some "interacted" events for clicking on the activity images

        var score = 0;

        SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $('#login').click(loginButton);

        $('#start').click(function(){
            startButton();
            $("#start").attr("disabled",true);
            $("#watch").attr("style","visibility:visible");
            $("#skip").attr("style","visibility:visible");
            tracker.Trace("initialized","game","game");
            tracker.Flush(function(result, error){});
        });

        $('#skip').click(function(){
            $("#skip").attr("style","display:none");
            $("#watch").attr("style","display:none");
            $("#complete1").attr("style","visibility:visible");
            $("#complete2").attr("style","visibility:visible");
            tracker.Trace("skipped","cutscene","introduction");
            tracker.Flush(function(result, error){});
        })

        $('#watch').click(function(){
            $("#skip").attr("style","display:none");
            $("#watch").attr("style","display:none");
            $("#complete1").attr("style","visibility:visible");
            $("#complete2").attr("style","visibility:visible");
            tracker.Trace("accessed","cutscene","introduction");
            tracker.Flush(function(result, error){});
        })

        $('#complete1').click(function(){
            $("#complete1").attr("disabled",true);
            score+=50;
            $("#score").html(score);
            tracker.Trace("completed","area","challenge one");
            tracker.Flush(function(result, error){});
        })

        $('#complete2').click(function(){
            $("#complete2").attr("disabled",true);
            score+=50;
            $("#score").html(score);
            tracker.Trace("completed","area","challenge two");
            tracker.Flush(function(result, error){});
        })

        $('#send').bind('click', function() {
            $("#complete1").attr("disabled",true);
            $("#complete2").attr("disabled",true);
            tracker.Trace("completed","game","game");
            tracker.Flush(function(result, error){});
            $.getJSON(SCRIPT_ROOT + '/send', {
                // TODO replace with the real value later
                score: 0.5
            }, function(data) {
                $("#send").attr("disabled",true);
            });
            return false;
        });

    </script>


{% endblock content %}


